# Our env file
.env

# Ignore the .venv file which contains our environment variables
.venv

# Ignore pycache
**/**/__pycache__/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
mlflow.db
models/
.out.tfevents
mlflow.db/
